@using nr148081_150251.Samoloty.Web.Helpers;
@using nr148081_150251.Samoloty.Web.Models.Plane

@model PlaneEditViewModel




<div class="form-group">
    <label asp-for="Model" class="control-label">Model</label>
    <input asp-for="Model" class="form-control" />
    <span asp-validation-for="Model" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Type" class="control-label">Type</label>
    <select asp-for="Type" asp-items="@ViewBag.Types" class="form-control">
        <option value="">Wybierz typ</option>
    </select>
    <span asp-validation-for="Type" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Company.Id" class="control-label">Producer</label>
    <select asp-for="Company.Id" asp-items="@ViewBag.Companies" class="form-control">
        <option value="">Wybierz producenta</option>
    </select>
    <span asp-validation-for="Company.Id" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="MaximumSpeed" class="control-label">Maximum Speed</label>
    <input asp-for="MaximumSpeed" class="form-control" />
    <span asp-validation-for="MaximumSpeed" class="text-danger"></span>
</div>


